body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/login_bg.jpg');
    color: rgb(252, 211, 3);
}

.zform {
    width: 500px;
    height: 470px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideIn 0.5s ease;
}

@keyframes slideIn {
    0% {
        transform: translateY(50px);
        filter: blur(10px);
    }

    100% {
        transform: translateY(0);
        filter: 0;
    }
}

.zform.active {
    height: 690px;
}

.zform.forgot {
    height: 300px;
    transform: translateX(-66px);
}

.zform .close_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(36, 43, 128);
    cursor: pointer;
    z-index: 1;
}

.close_btn i {
    padding: 15px;
}

.close_btn:hover {
    background-color: rgb(27, 32, 96);
}

.btn.btn-primary {
    background-color: rgb(36, 43, 128);
    color: rgb(252, 211, 3);
    outline: none;
    border: none;
}

.btn.btn-primary:hover {
    background: rgb(27, 32, 96);
}

.zform .login_form {
    position: absolute;
}

a {
    text-underline-offset: 3px;
    color: rgb(252, 211, 3);
}

.mb-3 {
    margin: 30px 40px;
    border-bottom: 2px solid rgb(252, 211, 3);
}

.mb-3 label {
    margin-bottom: 0;
}

.mb-3 input:active, .mb-3 input:focus {
    color: white;
}

.mb-3 input {
    color: white;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container .form-control {
    flex: 1;
}

.password-container .toggle-password {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 20px;
    left: 200px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(252, 211, 3);
}

.form-control {
    background: transparent;
    border: none;
    outline: none;
}

.form-control:focus {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.form-check-input, .form-check-label, .forgot {
    display: inline-block;
}

.save_pass {
    margin-left: 40px;
}

.forgot {
    margin-left: 135px;
}

.forgot a:hover {
    color: rgb(250, 228, 117);
}

h2 {
    text-align: center;
    margin-top: 50px;

}

button {
    width: 150px;
    cursor: pointer;
    margin: 20px 175px;
}

.login_register {
    text-align: center;
    margin: 10px;
}

.login_register a:hover {
    color: rgb(250, 228, 117);
}

.zform .login_form {
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.zform.active .login_form {
    transition: none;
    transform: translateX(-500px);
}

.zform.forgot .login_form {
    transition: none;
    transform: translateX(-500px);
}

.zform .register_form {
    position: absolute;
    transition: none;
    transform: translateX(500px);
}

.zform.active .register_form {
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.zform .forgot_form {
    position: absolute;
    transition: none;
    transform: translateY(-500px);
}

.zform.forgot .forgot_form {
    transition: transform 0.3s ease;
    transform: translateY(0);
}

.back_login {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(36, 43, 128);
    cursor: pointer;
}

.back_login:hover {
    background-color: rgb(27, 32, 96);
}