* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    width: 1500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}